<form [formGroup]="form" (ngSubmit)="submit()">
  <h1>Create new ticket</h1>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}"
  >
    <label for="title">Title ticket:</label>
    <input id="title" type="text" formControlName="title">
    <div
      *ngIf="form.get('title').touched && form.get('title').invalid"
      class="validation"
    >
      <small *ngIf="form.get('title').errors.required">
        Title is required field
      </small>
    </div>
  </div>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('assignee').touched && form.get('assignee').invalid}"
  >
    <label for="assignee">Assignee:</label>
    <select id="assignee" formControlName="assignee">
      <option value="" selected>Select user</option>
      <option [value]="user" *ngFor="let user of users">{{user}}</option>
    </select>

    <div
      *ngIf="form.get('assignee').touched && form.get('assignee').invalid"
      class="validation"
    >
      <small *ngIf="form.get('assignee').errors.required">
        Field "Assignee" is required
      </small>
    </div>
  </div>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('description').touched && form.get('description').invalid}"
  >
    <label>Description ticket:</label>
    <quill-editor formControlName="description"></quill-editor>
    <div
      *ngIf="form.get('description').touched && form.get('description').invalid"
      class="validation"
    >
      <small *ngIf="form.get('description').errors.required">
        Description is required field
      </small>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-danger"
    [disabled]="form.invalid || submitted"
  >Create ticket</button>
  <button
    [routerLink]="['/', 'dashboard']"
    [disabled]="submitted"
    class="btn btn-dark"
  >Cancel</button>
</form>
