<div class="ticket">
  <h1>Ticket title</h1>

  <div class="info">
    <strong>Reporter: Danil</strong>
    <strong>Assignee: Danil</strong>
  </div>

  <div class="div">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, unde?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, unde?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, unde?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, unde?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, unde?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, unde?
  </div>

  <div class="controls">
    <button class="btn btn-dark">Close ticket</button>
    <button class="btn btn-danger">Delete</button>
  </div>
</div>
