<div class="ticket">
  <div class="header">
    <h1>Ticket title</h1>

    <button routerLink="/" class="btn btn-link">Home page</button>
  </div>

  <div class="info">
    <strong>Reporter: Danil</strong>
    <strong>Assignee: Danil</strong>
  </div>

  <div class="div">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, unde?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, unde?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, unde?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, unde?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, unde?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, unde?
  </div>
</div>
